/* Start Global */
:root {
       --main-color: #007adb;
       --main-duration: 0.3s;
}
* {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
}
html {
       scroll-behavior: smooth;
}
body {
       font-family: 'Cairo', sans-serif;
}
body.dark {
       background-color: #001221;
}
ul {
       list-style: none;
       padding: 0;
       margin: 0;
}
a {
       text-decoration: none;
}
input:focus {
       outline: none;
}
.container {
       padding-left: 15px;
       padding-right: 15px;
       margin-left: auto;
       margin-right: auto;
}

/* Small Screen */

@media (min-width: 768px) {
       .container {
              width: 750px;
       }
}

/* Medium Screen */

@media (min-width: 992px) {
       .container {
              width: 970px;
       }
}

/* Large Screen */

@media (min-width: 1200px) {
       .container {
              width: 1170px;
       }
}
/* End Global */

/* Start Main */
.container {
       position: relative;
}
.container .mode {
       position: absolute;
       top: 20px;
       right: 20px;
}
.container .mode i {
       font-size: 20px;
       cursor: pointer;
       transition: var(--main-duration);
}
.container .mode i.sun {
       display: none;
       color: var(--main-color);
}
.main {
       width: 300px;
       max-width: 100%;
       margin: 20px auto;
       text-align: center;
}
body.dark .main {
       color: #fff;
}
.main .main-image {
       width: 200px;
       margin: auto;
}
.main .main-image img {
       max-width: 100%;
       border-radius: 50%;
       padding: 3px;
       border: 5px solid var(--main-color);
}
.main .main-description {
       margin-top: 20px;
}
.main .main-description > h3 {
       font-size: 22px;
       margin-bottom: 7px;
}
.main .main-description > span {
       color: #777;
       font-weight: bold;
       font-size: 14px;
}
body.dark .main .main-description > span {
       color: #bebebe;
}
.main .main-description .links {
       display: flex;
       justify-content: center;
       margin-top: 30px;
}
.main .main-description .links li {
       margin-right: 15px;
}
.main .main-description .links li a {
       color: #000;
       font-size: 22px;
}
body.dark .main .main-description .links li a {
       color: #fff;
}
.main .main-description .experience {
       display: flex;
       justify-content: space-between;
       margin-top: 30px;
}
.main .main-description .experience .expr {
       width: 75px;
}
.main .main-description .experience .expr span {
       display: block;
}
.main .main-description .experience .expr span:first-of-type {
       font-size: 20px;
       font-weight: 600;
}
.main .main-description .experience .expr span:last-of-type {
       color: #555;
       margin-top: 5px;
       line-height: 1.3;
       font-weight: 600;
}
body.dark .main .main-description .experience .expr span:last-of-type {
       color: #bebebe;
}
.main .main-description .cv {
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin-top: 35px;
}
.main .main-description .cv .personal-cv {
       padding: 20px 20px;
       background-color: var(--main-color);
       color: #fff;
       border-radius: 5px;
       font-size: 18px;
       display: flex;
       align-items: center;
}
.main .main-description .cv .personal-cv i {
       margin-left: 10px;
}

.main .main-description .cv .contact span a {
       padding: 10px 12px;
       background-color: #ebeaea;
       border-radius: 5px;
       color: #000;
       font-size: 20px;
       transition: var(--main-duration);
}
body.dark .main .main-description .cv .contact span a {
       background-color: #1a1a1a;
       color: #fff;
}
.main .main-description .cv .contact span a:hover {
       background-color: #e3e3e3;
}
body.dark .main .main-description .cv .contact span a:hover {
       background-color: #000;
}
.main .main-description .tabs {
       display: flex;
       justify-content: space-between;
       margin-top: 50px;
       background-color: #ebeaea;
       padding: 5px;
       border-radius: 10px;
}
body.dark .main .main-description .tabs {
       background-color: #1a1a1a;
}
.main .main-description .tabs li {
       padding: 12px 40px;
       border-radius: 10px;
       cursor: pointer;
       transition: var(--main-duration);
}
.main .main-description .tabs li.active,
.main .main-description .tabs li:hover {
       background-color: #fff;
}
body.dark .main .main-description .tabs li.active,
body.dark .main .main-description .tabs li:hover {
       background-color: #000;
}
/* End Main */

/* Start Project */
.project {
       padding-top: 50px;
}
.project .container {
       display: grid;
       grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
       gap: 30px;
}
.project .box {
       position: relative;
       overflow: hidden;
}
.project .image {
       position: relative;
}
.project .image::after {
       content: '';
       position: absolute;
       background-color: rgb(0 0 0 / 50%);
       top: 0;
       left: 0;
       width: 0;
       height: 100%;
       z-index: 2;
       border-radius: 15px;
       transition: var(--main-duration);
}
.project .box:hover .image::after {
       width: 100%;
}
.project .box img {
       max-width: 100%;
       border-radius: 15px;
}

.project .box i {
       position: absolute;
       bottom: 25px;
       left: 25px;
       background-color: var(--main-color);
       color: #fff;
       padding: 3px 6px;
       border-radius: 5px;
       z-index: 3;
}
.project .box .info {
       position: absolute;
       top: -100%;
       width: 100%;
       text-align: center;
       font-size: 30px;
       font-weight: bold;
       color: #fff;
       z-index: 3;
       transition: var(--main-duration);
}
.project .box:hover .info {
       top: 10px;
}
/* End Project */

/* Start Skills */
.skills {
       width: 300px;
       max-width: 100%;
       margin: 30px auto;
       display: none;
}
body.dark .skills {
       color: #fff;
}
.skills h3 {
       text-align: center;
       margin-bottom: 30px;
}
.skills ul {
       display: flex;
       justify-content: space-between;
}
.skills ul .box {
       margin-bottom: 10px;
       position: relative;
}
.skills ul .box i {
       position: absolute;
       left: -25px;
       top: 8px;
       color: var(--main-color);
}
.skills ul span {
       color: #555;
       font-weight: 600;
       font-size: 14px;
       display: block;
       margin-top: 7px;
}
body.dark .skills ul span {
       color: #bebebe;
}
/* End Skills */

/* Start Footer */
.footer {
       text-align: center;
       padding-top: 50px;
       padding-bottom: 25px;
       color: #777;
}
body.dark .footer {
       color: #bebebe;
}
/* End Footer */
